* {
  font-family: Roboto;
}
a {
  text-decoration: none;
}
a:visited {
  color: #121215;
}
a:hover {
  color: #d166ff;
}
body {
  display: grid;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(116.82deg, #eeeef0 0%, #ccccd8 100%);
}
#coverpage {
}
#maincontent {
  max-width: 1244px;
  margin-right: auto;
  margin-left: auto;
}
.mbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.company {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 15px;
  text-align: left;
  float: left;
  height: 219px;
  padding-top: 10%;
  padding-bottom: 10%;
  border-right: 1px solid #121215;
  padding-right: 20px;
}
.c-menu {
  display: inline;
  height: 219px;
  font-size: 54px;
  font-weight: 100;
  line-height: 83px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 20px;
}
.group2 {
  width: 100%;
}
.group2 .container {
  max-width: 1000px;
  margin: 10%;
  background: url(ACMEPIC/computer.png) left center no-repeat;
  background-size: 628px 471px;
  padding-left: 0%;
}
.group2 h1 {
  font-size: 120px;
  font-weight: 400;
  line-height: 141px;
  letter-spacing: 0px;
  text-align: left;
  color: #121215;
  text-shadow: 0px 0px 15px #ffffff;
  margin-left: 40%;
}
.serviceslink {
  text-align: right;
  text-decoration: underline;
}

#frame-1,
.group1,
.group2,
.testimonial,
.intro,
footer {
  display: block;
  margin: 0px;
  justify-self: stretch;
}
#frame-1 {
  height: 80px;
  border-bottom: #121215 1px solid;
}
.headlogo {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  display: inline-block;
  height: 80px;

  font-size: 40px;
  font-weight: 100;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: left;
}
menu {
  float: right;
  display: inline;
  padding: 1% 5% 1% 5%;
  margin: 0px 0px 0px 0px;
}
menu ul {
  list-style-type: none;
}
menu ul li {
  display: inline;
  padding: 0px 32px 0px 32px;
}
menu a {
}
li {
  list-style-type: none;
}
.testimonial {
  background: #121215;
  color: #ccccd8;
  height: 723px;
  max-width: 1280px;
  overflow: hidden;

}
.testimonial li {
  margin: 5px 10px 5px 10px;
  width: 360px;
  height: 436px;
  display: inline-block;
  vertical-align:top;
}
.testimonial ul.users {
   display: inline-block;
  margin-inline:0px;
  margin-left: auto;
  margin-right: auto;
}
.usertext {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  color: #eeeef0;
}
.testimonial img {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 344px;
  margin-left: auto;
  margin-right: auto;
}
.username {
  color: #d166ff;  
  position: absolute; bottom: 0;
}
.testimonial h1 {
  font-family: Roboto;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
  padding: 50px;
}
.textarea {
  width: fit-content;
  height: fit-content;
  padding: 4em;
}
.intro h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
}
.intro p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
footer {
  height: 291px;
  background: linear-gradient(90.28deg, #7000a0 0.01%, #a0009b 100%);
}
footer .container {
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 120px;
  font-weight: 400;
  line-height: 141px;
  letter-spacing: 200px;
  text-align: center;
  color: #ffffff;
}
