* {
  font-family: Roboto;
}
a {
  text-decoration: none;
}
a:visited {
  color: #121215;
}
a:hover {
  color: #d166ff;
}
.menu a:active {
  font-weight: 700;
  font-weight: bold;
}
body {
  margin: 0px;
  width: 100vw;
  background: linear-gradient(116.82deg, #eeeef0 0%, #ccccd8 100%);
}
/* cimlap  */
#maincontent {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.mbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
/* company  */
.company {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 15px;
  text-align: left;
  float: left;
  height: 219px;
  padding-top: 10%;
  padding-bottom: 10%;
  border-right: 1px solid #121215;
  padding-right: 20px;
}
.c-menu {
  display: inline;
  height: 219px;
  font-size: 54px;
  font-weight: 100;
  line-height: 83px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 20px;
}
.group2 {
  width: 100%;
}
.group2 .container {
  width: 1280px;
  height: 471px;
  background: url(ACMEPIC/computer.png) left center no-repeat;
  background-size: 628px 471px;
  margin: 80px;
}
.group2 h1 {
  font-size: 120px;
  font-weight: 400;
  line-height: 141px;
  letter-spacing: 0px;
  text-align: left;
  color: #121215;
  text-shadow: 0px 0px 15px #ffffff;
  margin-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.serviceslink {
  display: block;
  position: relative;
  right: 0px;
  bottom: 70px;
  text-align: right;
  text-decoration: underline;
}
#frame-1,
.group1,
.group2,
.testimonial,
.intro,
footer {
  display: block;
  margin: 0px;
  justify-self: stretch;
  width: 1440px;
}
#frame-1 {
  height: 80px;
  border-bottom: #121215 1px solid;
  margin-bottom: 0px;
}
#frame-1 .container {
  height: 80px;
}
.headlogo {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  display: inline-block;
  font-size: 40px;
  font-weight: 100;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: left;
}
menu {
  float: right;
  display: inline;
  padding: 1% 0 1% 0;
  margin: 0px 0px 0px 0px;
}
menu ul {
  list-style-type: none;
}
menu ul li {
  display: inline;
  padding: 0px 32px 0px 32px;
}
menu a {
}
li {
  list-style-type: none;
}
.group1 {
  background: #121215;
  height: 723px;
}
.testimonial {
  color: #ccccd8;
  max-width: 1280px;
  width: auto;
  margin: auto;
}
.users {
  margin: 5px 10px 5px 10px;
  width: 1280px;
  display: flex;
  align-items: flex-end;
  vertical-align: top;
  margin-inline: 0px;
}
.userbox {
  width: 360px;
  height: 436px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0px;
}
.usertext {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  color: #eeeef0;
}
.testimonial img {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 344px;
  margin-left: 105px;
  margin-right: 105px;
}
.username {
  color: #d166ff;
  bottom: 0;
  display: block;
  text-align: right;
  display: flex;
  align-items: flex-end;
}
.testimonial h1 {
  font-family: Roboto;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
  padding: 50px;
}
.textarea {
  width: fit-content;
  height: fit-content;
  padding: 4em;
}
.intro {
  margin-top: 0px;
}

.intro h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
}
.intro p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
/*services*/
.services {
  display: block;
  margin:80px
}
.services h1 {
  text-align: center;
}
.servicescontainer {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 867px;
  width: 1280px;
}
.servicesbox {
width: 379px;height: 351px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin: 0px;
}
.servicesbox img {
  height: 61px; width: auto;
  text-align: center;
  display: block;
  position: relative;
  padding-left:50%;
  padding-right: 50%;
}
.servicesbox h3{
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
text-align: center;

}
.servicesbox p {
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
}


/* footer all*/
footer {
  height: 291px;
  background: linear-gradient(90.28deg, #7000a0 0.01%, #a0009b 100%);
}
footer .container {
  display: block;
  font-size: 120px;
  font-weight: 400;
  line-height: 141px;
  letter-spacing: 200px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 929px;
  height: 141px;
  vertical-align: middle;
  padding: 5%;
}
@media screen:350px {
  
}